<div class="container time-table-component">
  <div class="row">
    <div class="col-12 text-center">
      <div class="header">
        <p>Time Table</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="w-100 text-center" *ngIf="!dataSource">
        <p class="text-center">Register courses first</p>
      </div>
      <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" *ngIf="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="weekday">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.weekday}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="8-10">
          <th mat-header-cell *matHeaderCellDef> 8-10 </th>
          <td mat-cell *matCellDef="let element"> {{element.firstTime?element.firstTime.course.name:''}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="10-12">
          <th mat-header-cell *matHeaderCellDef> 10-12 </th>
          <td mat-cell *matCellDef="let element"> {{element.secondTime?element.secondTime.course.name:''}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="14-16">
          <th mat-header-cell *matHeaderCellDef> 14-16 </th>
          <td mat-cell *matCellDef="let element"> {{element.thirdTime?element.thirdTime.course.name:''}} </td>
        </ng-container>

        <ng-container matColumnDef="16-18">
          <th mat-header-cell *matHeaderCellDef> 16-18 </th>
          <td mat-cell *matCellDef="let element"> {{element.forthTime?element.forthTime.course.name:''}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>




