<div id="timetable">
  <div id="content">
    <p>Current semester weekly schedule</p>
    <table>
      <thead>
      <tr>
        <th>Days</th>
        <th>8-10</th>
        <th>10-12</th>
        <th>2-4</th>
        <th>4-6</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Saturday</td>
        <td>Computer Architecture</td>
        <td>Computer Architecture</td>
        <td>Computer Architecture</td>
        <td>Computer Architecture</td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td>Sunday</td>
        <td>Computer Architecture</td>
        <td>Computer Architecture</td>
        <td>Computer Architecture</td>
        <td>Computer Architecture</td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td>Monday</td>
        <td>Computer Architecture</td>
        <td>Computer Architecture</td>
        <td>Computer Architecture</td>
        <td>Computer Architecture</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
