<section id="login">
  <!--background image-->
  <div id="login-bg-img">
    <div id="login-content">
      <div id="login-container">
        <h2 id="login-text">Sign in</h2>
        <div class="field">
          <input type="text"  placeholder="Username">
        </div>
        <div class="field">
          <input type="text"  placeholder="Password">
        </div>
        <div id="signin">
          <button id="btn-signin" >
            <p id="signin-text">Sign In</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
