<section id="login">
  <!--background image-->
  <div id="login-bg-img">
    <mat-card>
      <div class="header">
        <h3>Login To Your Dashboard</h3>
      </div>
      <mat-card-content>
        <form (ngSubmit)="submit()" [formGroup]="loginData">
          <mat-form-field class="w-100">
            <input matInput placeholder="Student Number" formControlName="username">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput placeholder="Password" type="password" formControlName="password">
          </mat-form-field>
          <div class="login-action">
            <button mat-flat-button color="primary" type="submit">Login</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</section>
