<div id="marks">
  <div id="content">
    <div id="profile-img" style="text-align: center">
      <img id="pr-img" src="./img/homepicture.jpg">
      <p id="profile-text"> Mahsa Mokhtare</p>
    </div>
  </div>
  <div id="tableofmarks">
    <div id="markslist">
      <table>
        <tr>
          <th style="width: 450px">Course</th>
          <th>Mark</th>
        </tr>
        <tr>
          <td>Eve</td>
          <td>94</td>
        </tr>
        <tr>
          <td>John</td>
          <td>80</td>
        </tr>
      </table>
    </div>
  </div>
</div>
