<div class="toolbar-nav-container" #toolbar>
  <mat-toolbar color="primary" [ngClass]="{'d-nav-none':isLogin}">
    <mat-toolbar-row>
      <div class="nav-image">
        <img class="w-100" src="../assets/img/logo.png">
      </div>
      <button mat-button routerLink="/panel/home">Home</button>
      <button mat-button routerLink="panel/registration">Registration</button>
      <button mat-button routerLink="panel/sem-info">Semester Info</button>
      <button mat-button routerLink="/panel/timetable">Time Table</button>
      <button mat-button (click)="logout()"><mat-icon>logout</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="bd" #windowRouter>
  <router-outlet></router-outlet>
</div>


