<div class="container">
  <div class="row">
    <div class="col-12">
      <div id="profile-img" style="text-align: center">
        <img id="pr-img" src="../../../assets/img/profile.jpg">
        <p id="profile-text"> Mahsa Mokhtare</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="List">
        <mat-list>
          <mat-list-item>Semester 1</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Semester 1</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Semester 1</mat-list-item>
          <mat-list-item>Semester 1</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Semester 1</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Semester 1</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </div>
  </div>
</div>

