
#profile-content{
  margin-bottom: 100px;
}
#profile-page{

}

#logo-img {
  width: 125px;
  height: 125px;
  padding-top: 20px;
}
#pr-img {
  border-radius: 50%;
  border: 1px solid black;
  width: 250px;
  height: 250px;
}
#profile-img{
  margin:50px;
}
#logo{
  text-align: center;
}
#profile-text{
  font-family: sans-serif;
  padding-top:25px;
}

/* ==========================================================================
                               SemesterList
   ========================================================================== */
.List{
  display: flex;
  justify-content: center;
  align-items: center;
}
