

<div id="listofsemester">
  <div id="content">
    <div id="profile-img" style="text-align: center">
      <img id="pr-img" src="../../../assets/img/profile.jpg">
      <p id="profile-text"> Mahsa Mokhtare</p>
    </div>
    <div id="semesterlisth">
      <div class="List">
        <p>Year 2019-2018 section 2</p>
      </div>
      <div class="List">
        <p>Year 2019-2018 section 2</p>
      </div>
      <div class="List">
        <p>Year 2019-2018 section 2</p>
      </div>
      <div class="List">
        <p>Year 2019-2018 section 2</p>
      </div>
    </div>
  </div>
</div>
