<div id="registration">
  <div id="content">
    <div id="search-box">
      <input type="text" placeholder="Search..">
    </div>
    <div id="course">
      <div id="choosingcourses">
        <table>
          <thead>
          <tr>
            <th style="width: 250px">Situation of course</th>
            <th style="width: 744px" >Name of course </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </td>
            <td>software</td>
          </tr>
          </tbody>
        </table>
        <div id="listofcourse">
          <table>
            <thead>
            <tr>
              <th style="width: 250px">Course Code</th>
              <th style="width: 250px">Name of course</th>
              <th style="width: 250px">Professor</th>
              <th style="width: 250px">Time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>17112508</td>
              <td>Computer architecture</td>
              <td> Tommy</td>
              <td>9-10:30</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="primary">Primary</button>
    </div>
  </div>
</div>
