<div class="container">
  <div class="row">
    <div class="col-12">
      <table mat-table [dataSource]="registeredDataSource" class="mat-elevation-z8 w-100">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [checked]="element.status">
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- Course name Column-->
        <ng-container matColumnDef="Course Name">
          <th mat-header-cell *matHeaderCellDef> Course Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <!-- Message Column -->
        <ng-container matColumnDef="Message">
          <th mat-header-cell *matHeaderCellDef> Message</th>
          <td mat-cell *matCellDef="let element"> {{element.message}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table *ngIf="courseDataSource" mat-table [dataSource]="courseDataSource.list" class="mat-elevation-z8 w-100" >

        <!-- Position Column -->
        <ng-container matColumnDef="Course Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Name </th>
          <td mat-cell *matCellDef="let element"> {{element.course.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Unit Count">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Count </th>
          <td mat-cell *matCellDef="let element"> {{element.course.unitCount}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Instructor Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Instructor Name</th>
          <td mat-cell *matCellDef="let element"> {{element.instructorName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Time</th>
          <td mat-cell *matCellDef="let element">
            <div *ngFor="let t of element.time">
              <p>{{t.startTime}}</p>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
        <button mat-raised-button color="primary">Primary</button>
    </div>
    <div class="col-6">
      <button mat-raised-button color="primary">Primary</button>
    </div>
  </div>
</div>


